$bg-color-main:hsl(217, 54%, 11%);
$bg-color-primary:hsl(216, 50%, 16%);

$text-color-white:hsl(0, 0%, 100%);
$text-color-gray:hsl(215, 51%, 70%);
$text-color-cyan:hsl(178, 100%, 50%);

$text-bg: 1.8rem;
$text-sm: 1.6rem;
$text-smallest: 1.2rem;