$color-bright-blue:hsl(245, 75%, 52%);
$color-pale-blue-1:hsl(225, 100%, 94%);
$color-pale-blue-2:hsl(225, 100%, 98%);
$color-desaturated-blue:hsl(224, 23%, 55%);
$color-dark-blue:hsl(223, 47%, 23%);

$text-para:1.6rem;
$text-header:2.2rem;

$text-sm:1.5rem;