$color-darkcyan:hsl(185, 75%, 39%);
$color-darkblue:hsl(229, 23%, 23%);
$color-grayhblue:hsl(227, 10%, 46%);
$color-darkgray:hsl(0, 0%, 59%);
$color-white:#fff;

$font-size:1.8rem;
$font-size-sm:1.3rem;
$font-size-smallest:1.1rem;