$text-color-white : hsla(0, 0%, 100%, 0.75);
$color-primary:hsl(0, 0%, 95%);

$bg-color-orange:hsl(31, 77%, 52%) ;
$bg-color-cyan:hsl(184, 100%, 22%);
$bg-color-darkcyan:hsl(179, 100%, 13%);

$font-text:1.5rem;
$font-header:2.5rem;
