

.header{
  font-size: $font-size-big;
  letter-spacing: -0.1rem;
  line-height: 130%;
  text-align: center;
  color: $text-color-primary;
  font-weight: 700;

}

.text{
  font-size: $font-size-sm;
  text-align: center;
  color: $text-color-secondary;
}