.header{
  margin: 4rem 30rem ;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-grayish-blue;

  @include respond(phone){
    margin: 0;
    padding: 2rem;
    border: none;
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;

    &-logo{
      width: 140px;
      height: 20px;
      margin-right: 3rem;
    }

    &-box{
      list-style: none;
      display: flex;

      @include respond(phone){
        display: none;
      }
    }
    &-links{
      text-decoration: none;
      color: $color-grayish-blue-dark;
      font-size: $font-size-medium;
      margin-right: 3rem;
    }
  }

  &__features{
    display: flex;
    align-items: center;
    justify-content: center;


    &-shopping{
      width: 30px;
      height: 20px;
      margin-right: 2rem;
      padding: 10px;
      box-sizing: content-box;


    }
    &-user{
      width: 5rem;
    }
  }
}


