$text-color-primary:#fff ;
$text-color-secondary: rgb(196, 196, 196);

$bg-color: #141519;
$bg-color-primary:#212832;
$bg-color-secondary:#262e38;

$color-orange:#fa7613;

$font-big: 3.5rem;
$font-sm: 1.5rem;