$text-color-primary:#1E293B;
$text-color-secondary: #A8A29E;

$bg-color: #06B6D4;
$bg-color-primary:#1D4ED8;
$bg-color-secondary:#FAFAFA;

$color-orange:#fa7613;

$font-size-big: 2.2rem;
$font-size-sm: 1.5rem;