.shop{
  grid-column: menu-end / photo-end;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: repeat(2,8rem) 20rem ;
  grid-template-rows: 5rem 8rem 15rem 5rem 5.9rem;

}
.header{
  grid-column: 2/4;
  grid-row: 2/3;

  font-size: $font-size-big;
  color: $color-black;
  font-weight: 700;
}
.text{
  grid-column: 2/4;
  grid-row: 3/4;

  font-size: $font-size-small;
  color: $color-dark-grey;
  font-weight: 500;
}

.shop-now{
  grid-column: 2/4;
  grid-row: 4/5;

  color: $color-dark-gray-2;
  font-size: $font-size-small;
  letter-spacing: 10px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.5s;

}


.arrow{
  grid-row: 5/6;
  background-color: $color-black;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s;
}

.arrow-left{grid-column: 1/2;}

.arrow-right{grid-column: 2/3;}

.shop-now:hover{color:$color-dark-grey; }

.arrow:hover{background-color: $color-dark-grey;}