$color-orange:hsl(26, 100%, 55%);
$color-orange-pale:  hsl(25, 100%, 94%);
$color-dark-blue: hsl(220, 13%, 13%);
$color-grayish-blue:hsl(220, 14%, 75%);
$color-grayish-blue-dark: hsl(219, 9%, 45%);
$color-grayish-blue-light:hsl(223, 64%, 98%);
$color-white:hsl(0, 0%, 100%);
$color-tans-dark: hsla(0, 0%, 0%, 0.25);

$font-size-smallest:1.2rem;
$font-size-small:1.4rem;
$font-size-medium: 1.6rem;
$font-size-big: 2.2rem;
$font-size-biggest: 3.5rem;